.navbar-new-top{
    background: #fff;
}
.navbar-brand{
    font-weight: 600;
    padding: 50px;
}
.navbar-brand img{
    width: 20%;
}
.navbar-new-top ul{
    margin-right: 9%;
    
}
.navbar-new-top ul li{
    margin-right: 8%;
}
.navbar-new-bottom{
    background-color: #88CC88;
    box-shadow: 0 5px 6px -2px rgba(0,0,0,.3);
    border-top: 1px solid #004400;
    margin-top: 3.5%;
    height: 50px;
}
.navbar-new-bottom ul li{
    margin: auto !important;
    margin-left: .5%;
    margin-right: .5%;
    
}
.navbar-nav .nav-item a {
    color: rgb(4, 41, 0);
    font-size: 14px;
    font-weight: 600;
    transition: 1s ease;
}
.navbar-nav .nav-item a:hover{
    color: #02758A;
}
.dropdown-menu.show{
    background: #1dd34a;
    border-radius: 0;
}
.header-btn{
    width: 161%;
    border: none;
    border-radius: 1rem;
    padding: 8%;
    background: #004400;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}
